section.hero-section {
  padding-top: 120px;
  padding-bottom: 120px;
  background-image: url("../images/blogs/single-blog.png");
  background-repeat: no-repeat;
  background-size: cover;
}

section.blog-content-section .share-icon-block li a {
  width: 40px;
  height: 40px;
  border: 2px solid #07c4e4;
  border-radius: 50%;
  color: #000000;
  font-size: 17px;
  transition: all 0.25s ease;
}

section.blog-content-section .share-icon-block li a:hover {
  background-color: #07c4e4;
}

section.blog-content-section .join-hireslick-block {
  background-color: #c9c9c9;
}

section.blog-content-section .content-block {
  margin-top: -200px;
  background-color: #ffffff;
  border-radius: 10px;
}

@media (max-width: 991px) {
  section.blog-content-section .content-block {
    margin-top: 0px;
  }
}
