footer a.logo-block {
  max-width: 60px;
}

footer .contact-block a.number {
  color: #07c4e4;
  font-size: 18px;
}
footer .contact-block a.number:hover {
  color: #ffffff;
  transition: all 0.25s ease;
}
footer .contact-block a.email {
  color: #ffffff;
  font-size: 18px;
}
footer .contact-block a.email:hover {
  color: #07c4e4;
  transition: all 0.25s ease;
}

footer ul.social-media-icons-block li i {
  color: #ffffff;
}
footer ul.social-media-icons-block li:hover i {
  color: #07c4e4;
  transition: all 0.25s ease;
}

footer .policy-block a {
  color: #ffffff;
  font-size: 12px;
}
footer .policy-block a:hover {
  color: #07c4e4;
  transition: all 0.25s ease;
}

footer p.copyright {
  max-width: 400px;
  font-size: 13px;
}

footer .accordion-header {
  background-color: #222222;
}

footer .accordion-header button.accordion-button {
  background-color: #222222;
  color: #ffffff;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
}

footer .accordion-header button.accordion-button::after {
  display: none;
}

footer .accordion-body {
  background: #000000;
}

footer .right-block a {
  display: block;
  color: #c5c5c5;
  font-size: 15px;
  margin-bottom: 5px;
}

footer .right-block a:hover {
  color: #07c4e4;
  transition: all 0.25s ease;
}
