header {
  background-color: #07c4e4;
}

header a.navbar-brand {
  max-width: 55px;
}

header .menu-hover-border {
  width: 0%;
  height: 1px;
  background-color: #000000;
}

header li.nav-item:hover .menu-hover-border {
  width: 100%;
  transition: all 0.25s ease;
}

header a.nav-link {
  color: #000000 !important;
  font-weight: 500 !important;
}

header ul.dropdown-menu {
  border: 0px;
  border-radius: 15px;
  box-shadow: 0px 0px 3px #cdcdcd;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 10%;
  left: 100%;
  margin-top: -1px;
}

.navbar-nav li:hover > ul.dropdown-menu {
  display: block;
}
