section.hero-section {
  padding-top: 140px;
  padding-bottom: 140px;
}

section.hero-section h1.hero-heading {
  font-weight: 600;
  line-height: 53px;
  font-size: 40px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

section.hero-section p.secondary-heading {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

section.how-vetting-help-hiring-section .border-start {
  border-color: #07c4e4 !important;
  border-width: 3px;
}

section.how-vetting-help-growing-section .growing-card {
  border-radius: 20px;
}

section.how-vetting-help-hiring-section .bordered-card {
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  box-shadow: 0px 0px 3px #dbdbdb;
}
