section.hero-section {
  padding-top: 140px;
  padding-bottom: 140px;
}

section.hero-section h1.hero-heading {
  font-weight: 600;
  line-height: 53px;
  font-size: 40px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

section.hero-section p.secondary-heading {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

section.vetting-process-section .numbering {
  width: 40px;
  height: 40px;
}

section.vetting-process-section .process-block {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

section.how-vetting-help-hiring-section .border-start {
  border-color: #07c4e4 !important;
  border-width: 3px;
}

section.how-vetting-help-growing-section .growing-card {
  border-radius: 20px;
}

section.how-vetting-help-hiring-section .bordered-card {
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  box-shadow: 0px 0px 3px #dbdbdb;
}

section.how-vetting-help-growing-section .top-block p {
  font-size: 15px;
}

section.how-vetting-help-growing-section .hireslick-border {
  border: 1px solid #7d7d7d;
  border-top: 0px;
  padding: 10px;
}

section.our-latest-blogs-section .our-resources-card .bottom p,
section.our-latest-blogs-section .our-resources-card .bottom span {
  font-size: 12px;
  color: #808080;
}

section.our-latest-blogs-section .img-block {
  overflow: hidden;
  border-radius: 20px;
}

section.our-latest-blogs-section a.our-resources-card:hover .img-block img {
  transform: scale(1.2);
  border-radius: 20px;
  transition: all 0.25s ease;
}

section.our-latest-blogs-section a.our-resources-card p.title {
  color: #808080;
  transition: all 0.25s ease;
}

section.our-latest-blogs-section a.our-resources-card:hover p.title {
  color: #000000;
}
